.block-search {
    float: left!important;
}

.page-header .panel.wrapper {
    background: #fff!important;
    border: none!important;
}

.header.content {
    margin: 0!important;
    padding: 0!important;
}

.nav-sections-item-content,.navigation {
    background: #5a6465!important;
}

.navigation > #ui-id-2 {
    text-align: center!important;
}

.navigation li.level0 {
    text-align: left!important;
    margin: 0 30px 0 0!important;
}

.navigation .level0 > .level-top {
    color: #ffffff!important;
    text-transform: uppercase!important;
    border-bottom: 3px solid transparent;
}

.header.panel>.header.links>li.authorization-link>a,
.header.panel>.header.links>li:nth-child(3)>a {
    color: #ffa800;
}

.logo {
    margin: -12px auto 10px 21%!important;
}

.minicart-wrapper .action.showcart:before {
    content: '';
    background: url(../../images/cart.png)!important;
    width: 35px;
    height: 26px;
}

.minicart-wrapper {
    margin-top: 10px;
    margin-right: 25px;
}

.counter.qty.empty {
    display: inline-block!important;
}
.minicart-wrapper .action.showcart .counter.qty {
    background: #ffa800!important;
    color: #fff!important;
    height: 15px!important;
    line-height: 14px!important;
    border-radius: 100%!important;
    /* display: inline-block!important; */
    margin: -2px -16px 0px!important;
    /* width: 15px!important; */
    overflow: hidden!important;
    text-align: center!important;
    white-space: normal!important;
    /* position: absolute!important; */
    padding: 2px 1px 2px 1px!important;
}

.minicart-wrapper .action.showcart .counter-number {
    text-shadow: none!important;
    font-size: 12px!important;
}
.header.panel>.header.links>li.welcome {
    color: #7e807e!important;
    display: table-cell!important;
    padding: 0px 0px 0px 15px!important;
}
.header.panel>.header.links>li {
    margin: 0;
}
.header.panel>.header.links>.authorization-link:after {
    content: 'or'!important;
    color: #7e807e!important;
}

.copyright {
    background-color: #f4f4f4!important;
    color: #919191!important;
    padding: 10px 50px 10px 65px;
    text-align: left!important;
}
.copyright span {
    border-top: 1px solid #dfdfdf;
    display: block;
    padding: 15px 0 5px 5px;
}

.product-reviews-summary {
    display: none!important;
}

.action.primary {
    background: #ffa800!important;
    border: 1px solid #ffa800!important;
    text-transform: uppercase!important;
}

.action.primary:hover {
    background: #ff7e00!important;
    border: 1px solid #ff7e00!important;
}

.action.primary:focus, .action.primary:active {
    background: #ff7e00!important;
    border: 1px solid #ff7e00!important;
}

.block.newsletter .action.subscribe {
    background: #505050!important;
    border: 1px solid #505050!important;
    border-radius: 0!important;
    padding: 7px 30px!important;
}

.block.newsletter .action.subscribe:hover,
.block.newsletter .action.subscribe:focus,
.block.newsletter .action.subscribe:active {
    background: #background: #505050!important;!important;
    border: 1px solid #505050!important;
}

.actions_subscribe {
    margin: 15px 0 0 2px!important;
}

.block.newsletter .field .control {
    margin-top: 15px!important;
}

.page-header  ul.links:before {
    content: '';
    background: url(../../images/profile.png)!important;
    width: 34px;
    height: 34px;
    position: absolute;
    margin: 3px 0px 0px -30px;
}
.page-header .customer-menu ul.links:before {
    background:none!important;
}

#search_autocomplete span.qs-option-name {
    color:#000;
}
.block-search .action.search:before {
    content: url(../../images/search.png)!important;
}
.block-search .action.search {
    top: 5px!important;
}
.page-header .header.panel {
    padding-bottom: 0!important;
    position: relative!important;
    top: 15px!important;
}
.footer.content .links a:hover {
    color: #144e8e!important;
    text-decoration: none!important;
}
.footer .title_footer_links {
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer .title_footer_foloow {
    display: table;
    color: #000;
    font-weight: 600;
    margin: 15px 0 10px;
}
.content-heading h2 {
    font-weight: 600!important;
    color: #5a6465!important;
}
.content-heading {
    padding-top: 25px;
}
.content-heading:before {
    background: none!important;
}
.any_img {
    width: 50%;
    display: inline-block;
    float: right;
}
.home_img_1 {
    background: url(../../images/main1.jpg);
    height: 380px;
    background-repeat: no-repeat;
    background-size: contain;
}
.home_img_1 button {
    position: relative;
    float: right;
    background: transparent;
    border: 1px solid;
    top: 55%;
    border-radius: 0;
    right: 18.5%;
}
.home_img_2 {
    background: url(../../images/main2.jpg);
    height: 513px;
    background-repeat: no-repeat;
    width: 49%;
    margin: 13px 0px 0px 0px;
    display: inline-block;
    background-size: contain;
}
.home_img_3 {
    background: url(../../images/main3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 254px;
    margin: 13px 0 19px;
    background-size: contain;
}
.home_img_4 {
    background: url(../../images/main4.jpg);
    height: 242px;
    background-repeat: no-repeat;
    float: left;
    width: 48.2%;
    /* position: relative; */
    margin-right: 21px;
    background-size: contain;
}
.home_img_5 {
    background: url(../../images/main5.jpg);
    height: 242px;
    background-repeat: no-repeat;
    float: left;
    width: 48.2%;
    background-size: contain;
}
.footer .my_footer_menu {
    display: inline-block;
    margin-left: 18px;
    margin-right: 78px;
}
@media only screen and (max-width: 767px) {
    .footer .my_footer_menu {
        display: block;
        margin: 0!important;
    }
    .home_img_1 {
        height: 130px;
    }
    .home_img_2 {
        width: 100%;
        height: 356px;
    }
    .home_img_3 {
        height: 170px;
    }
    .home_img_4 {
        width: 48%;
        margin-right: 16px;
    }
    .home_img_5 {
        hwidth: 48%;
    }
    .any_img {
        width: 100%;
    }
    .header .block-search {
        display: none;
    }
}
.product-slider-wrapper .slick-prev {
    background-image: url(../../images/gallery.png);
    background-position: -80px -80px;
    -webkit-transform: translate3d(-50%, -130%, 0);
    transform: translate3d(-50%, -130%, 0);
    height: 80px;
    width: 80px;
    z-index: 1;
}
.product-slider-wrapper .slick-next {
    background-image: url(../../images/gallery.png);
    background-position: -160px -80px;
    -webkit-transform: translate3d(0%, -135%, 0);
    transform: translate3d(0%, -135%, 0);
    height: 80px;
    width: 80px;
    z-index: 1;
}
.slick-next:before,.slick-prev:before  {
    content: ''!important;
}
.navigation a.level-top.ui-state-focus, .navigation a.level-top.ui-state-active {
    border-bottom: 3px solid rgb(255, 168, 0);
}

.footer.content {
    padding-top: 40px!important;
}
.block.newsletter {
    display: inline-block;
    width: auto!important;
    float: none!important;
}
.page-main .block {
    margin-bottom: 10px!important;
}
.minicart-wrapper .block-minicart,.page-header .panel.wrapper {
    color:#000!important;
}
