<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Form $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$context = $objectManager->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);

?>
<div class="page messages" style="display:none;">
    <div data-bind="scope: 'messages'">
        <div role="alert" class="messages">
            <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }" class="message-success success message" data-ui-id="message-success">
            </div>
        </div>
    </div>
</div>
<div class="block review-add">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Write Your Own Review')) ?></strong></div>
    <div class="block-content">
        <?php if ($isLoggedIn): ?>
            <form action="" data-mage-init='{"validation": {}}' class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">

                <fieldset class="fieldset review-fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">

                    <div class="field review-field-summary required">
                        <label for="summary_field" class="label"><span><?= $block->escapeHtml(__('Title')) ?></span></label>
                        <div class="control">
                            <input type="text" name="title" id="summary_field" class="input-text" data-validate="{required:true}" data-bind="value: review().title" />
                        </div>
                    </div>
                    <div class="field review-field-text required">
                        <label for="review_field" class="label"><span><?= $block->escapeHtml(__('Comments')) ?></span></label>
                        <div class="control">
                            <textarea name="comment" id="review_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="userid" value="<?=$customerSession->getCustomer()->getId()?>"/>
                    <input type="hidden" name="username" value="<?=$customerSession->getCustomer()->getName()?>"/>
                    <input type="hidden" name="useremail" value="<?=$customerSession->getCustomer()->getEmail()?>"/>
                </fieldset>
                <div class="actions-toolbar review-form-actions">
                    <div class="primary actions-primary">
                        <a href="#" id="formsend" class="action submit primary"><span><?= $block->escapeHtml(__('Submit Review')) ?></span></a>
                    </div>
                </div>
            </form>

        <?php else: ?>
            <div class="message info notlogged" id="review-form">
                <div>
                    <?= $block->escapeHtml(__('Only registered users can write reviews. Please <a href="/customer/account/login/">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()), ['a']) ?>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/validation'
        ],

        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
                title: 'Add new comment',
                buttons: [{
                    text: $.mage.__('Close'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            $("#formsend").click(function(event){

                var dataForm = $('#review-form');
                var isvalid = dataForm.validation('isValid');

                if (isvalid) {
                    event.preventDefault();
                    var param = $('#review-form').serialize();
                    $.ajax({
                        showLoader: true,
                        url: '/reviews/index/addreview',
                        data: param,
                        type: "POST"
                    }).done(function (msg) {
                        $('.message-success').html('<div data-bind="html: message.text">' + msg + '</div>');
                        $('.messages').show('slow');
                    });
                }
            });

        }

    );
</script>
