<?php

?>

<div>
      <div class="rewtitle"><h1><?= $block->sayReviews(); ?></h1></div>
      <div class="addreview">
          <a href="#" id="click-me"><span>SUBMIT YOUR TESTIMONIAL</span></a>
      </div>
</div>

<div class="maincomments">
<?php
if (count($block->getReviewsCollection()) == 0):?>
<div>No comments found, you has been first !</div>
    <?php else:
foreach ($block->getReviewsCollection() as $rew): ?>
<div class="namedate">
    <span class="nameuser"><?= $rew->getUsername(); ?></span>
      <?= date("d/m/y", strtotime($rew->getCreation_time())); ?>
</div>
<div class="comments">
       <?= $rew->getComment(); ?>
</div>
<?php endforeach; ?>
</div>
<div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif; ?>
<div id="popup-modal" style="display: none">
    <?php include ($block->getTemplateFile('Home_Reviews::addreview.phtml'));?>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],

        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
                title: 'Add new comment',
                buttons: [{
                    text: $.mage.__('Close'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
            $("#click-me").on('click',function(){
                $("#popup-modal").modal("openModal");
            });

        }

    );
</script>

